/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMONS */
/* Box */
.flex{
    display: flex;
}
.justify{
    justify-content: space-between;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.25rem 1.25rem;
    margin: auto;
}
.col{
    border-radius: 2rem;
    padding: 1.25rem;
    margin: 1.25rem;
}
section{
    margin: 20px 0;
}
/* Buttons */
.button{
    border: 1px solid black;
    border-radius: 10%;
}



/* VRIABILI */


/* MOBILE LAYOUT */
/* HEADER */
header{
    background-color: rgb(0, 132, 253);
    padding: 20px 0px;
}
.menu{
    display: none;
}

/* MAIN */
/* Highlights */
.highlights .col{
    background-color: rgb(173, 211, 244);
}
.demo-app div{
    /* max-width: calc(100% / 2); */
}
.demo-app div img{
    max-width: 100%;
}

/* Strategies */
.strategies{
    background-color: rgb(151, 146, 228);
}
.strategies .col:first-child{
    background-color: rgb(151, 146, 228); 
}
.strategies .col:last-child{
    background-color: white;
}

/* Testimonials */
.testimonials .col{
    background-color: rgb(151, 146, 228);
}

/* Benefits */
.benefits{
    background-color: rgb(151, 146, 228);
}
.benefits .col{
    background-color: white;
    max-width: 100%;
}

/* About us */
.aboutus .col{
    max-width: 100%;
}









/* TABLET LAYOUT */
@media screen and (min-width: 768px) {
    /* Main - Highlights */
    .highlights .col{
        max-width: calc(100% / 3 - 2.5rem);
    }
    .highlights .col:first-child{
        max-width: calc(100% / 3 * 2 - 2.5rem);
    }


    /* Strategies */

    /* Benefits */
    .benefits .col{
        max-width: calc(100% / 2 - 2.5rem);
    }

    /* About us */
    .aboutus .col{
        max-width: 50%;
    }
}



/* DESKTOP LAYOUT */
@media screen and (min-width: 992px) {
    .row{
        max-width: 60%;
    }
    /* Header - Nav */
    .hamburger{
        display: none;
    }
    .menu{
        display: block;
    }

    /* Highlights */
    .demo-app{
        display: flex;
    }

    /* Strategie */
    .strategies .col{
        max-width: calc(100% / 2 - 2.5rem)
    }
     /* Benefits */
     .benefits .col{
        max-width: calc(100% / 3 - 2.5rem);
    }
    /* About us */
    .aboutus .col{
        max-width: calc(50% - 2.5rem);
    }
}












/* background-color: rgb(173, 211, 244); */
