/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMONS */
/* Box */
.flex{
    display: flex;
}
.justify{
    justify-content: space-between;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.25rem 1.25rem;
    margin: auto;
}
.col{
    border-radius: 2rem;
    padding: 1.25rem;
    margin: 1.25rem;
}
section{
    margin: 20px 0;
}
/* Buttons */
.button{
    border-radius: 1.25rem;
    padding: .625rem 1.25rem;
}
a.button{
    text-decoration: none;
}

/* TYPOGRAPHY */
/* .highlights{
    font-size: 1.5625rem;
} */


/* VRIABILI */


/* MOBILE LAYOUT */
/* HEADER */
header{
    background-color: rgb(0, 132, 253);
    padding: 20px 0px;
}
nav{
    align-items: center;
}
nav .hamburger{
    font-size: 1.875rem;
    color: white;
}

.menu{
    display: none;
}

/* MAIN */
/* Highlights */
.highlights .col{
    background-color: rgb(173, 211, 244);
    text-align: center;
}
    /* demo-app */
    .demo-app{
        padding: 0;
    }
    .demo-app div:last-child{
        margin: 0;
    }
.demo-app div .button{
    background-color: rgb(0, 132, 253);
}
.demo-app > div{
    margin: .625rem 0;
    text-align: center;
}
.demo-app div img{
    width: 100%;
    align-items: flex-end;
    display: block;
}
/* .demo-app div h2, p, a{
    margin: 3.125rem 0;
} */
    /* card */
.highlights-card-small i{
    font-size: 3.125rem;
    color: blue;
}
.highlights-card-small h3{
    color: blue;
}

/* Strategies */
.strategies{
    background-color: rgb(151, 146, 228);
    text-align: center;
}
.strategies .col img{
    max-width: 100%;
}

.strategies .col:first-child{
    background-color: rgb(151, 146, 228); 
    color: white;
}
.strategies .col:last-child{
    background-color: white;
}
.strategies-button{
    border-radius: 50%;
    padding: 1.25rem;
    background-color: rgb(151, 146, 228);
}
.strategies-button i{
    font-size: 1.875rem;
    vertical-align: middle;
}

/* Testimonials */
.testimonials > div{
    text-align: center;
}
.testimonials .row{
    background-color: rgb(151, 146, 228);
    border-radius: 1.25rem;
}
.testimonials .col{
    text-align: center;
}
.testimonials .col img{
    border-radius: 50%;
    width: 100%;
}

/* Benefits */
.benefits{
    background-color: rgb(151, 146, 228);
}
.benefits h2{
    text-align: center;
}
.benefits .col{
    background-color: white;
    max-width: 100%;
}
.benefits .col .button{
    background-color: rgb(151, 146, 228);
    padding: .625rem 2.5rem;
}
.benefits .col span{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(151, 146, 228);
}
.benefits .col h3{
    color: rgb(151, 146, 228);
}

/* About us */
.aboutus .col{
    max-width: 100%;
}
.aboutus h2{
    color: rgb(151, 146, 228);
}
.aboutus .col img{
    border-radius: 50%;
    width: 25rem;
}
.about-us-img-box{
    position: relative;
}
.virgolette{
    font-size: 7.5rem;
    color: rgb(151, 146, 228);
    position: absolute;
    top: 0;
    right: 40%;

}
#img-target{
    display: block;
    font-size: 1.25rem;
    color: rgb(151, 146, 228);
}
.about-us-button{
    border-radius: 1.25rem;
    background-color: rgb(151, 146, 228);
    color: white;
}

/* Get started */
.get-started{
    background-color: rgb(151, 146, 228);
    text-align: center;
}
.get-started span{
    display: block;
    color: white;
}
.started-text1{
    font-size: 20px;
}
.started-text2{
    font-size: 30px;
    font-weight: 600;
}
.started-text3{
    font-size: 60px;
    font-weight: 900;
}
.started-button{
    background-color: white;
    font-size: 20px;
    padding: .625rem 1.25rem;
    color:rgb(151, 146, 228) ;
}

/* Footer */
footer{
    background-color: black;
    text-align: center;
    color: white;
}









/* TABLET LAYOUT */
@media screen and (min-width: 768px) {
    /* Main - Highlights */
    .highlights .col{
        max-width: calc(100% / 3 - 2.5rem);
    }
    .highlights .col:first-child{
        max-width: calc(100% / 3 * 2 - 2.5rem);
    }


    /* Strategies */

    /* Testimonials */
    .testimonials .row{
        flex-wrap: nowrap;
        align-items: center;
    }
    /* Benefits */
    .benefits .col{
        max-width: calc(100% / 2 - 2.5rem);
    }
    /* About us */
    .aboutus .col{
        max-width: 50%;
    }
}



/* DESKTOP LAYOUT */
@media screen and (min-width: 992px) {
    .row{
        max-width: 60%;
    }
    /* Header - Nav */
    .hamburger{
        display: none;
    }
    .menu{
        display: block;
    }
    nav div{
        max-width: 30%;
    }
    nav .menu{
        max-width: 70%;
    }
    nav a{
        text-decoration: none;
        color: white;
    }
    nav .menu .button{
        background-color: white;
        padding: .3125rem .625rem;
        color: black;
    }

    /* Highlights */
    .demo-app{
        display: flex;
    }
    .demo-app div{
        width: 50%;
    }
    .demo-app img{
        width: 100%;
    }

    /* Strategie */
    .strategies .col{
        max-width: calc(100% / 2 - 2.5rem)
    }
    .strategies .col:last-child{
        max-height: 70%;
    }
     /* Benefits */
     .benefits .col{
        max-width: calc(100% / 3 - 2.5rem);
    }
    /* About us */
    .aboutus .col{
        max-width: calc(50% - 2.5rem);
    }
}












/* background-color: rgb(173, 211, 244); */
